<template>
    <div>
        <input type="text" data-test="todoText" v-model="todo.text">
        <button data-test="saveTodo" @click="saveTodo"> Save Todo</button>
    </div>
</template>

<script>
    import {api} from "../client/todo";

    export default {
        name: 'CreateTodo',
        data() {
            return {
                todo:{
                   id: 0,
                   text: "",
                   isDone: false
                }
            }
        },
        methods: {
            async saveTodo() {
                console.log(this.todo)
                this.$emit("saveTodo", this.todo)
                await api("http://localhost:8089", this.todo).createNewTodo()
                this.setInitialState()
            },

            setInitialState() {
                this.todo = {id: 0, text: "", isDone: false}
            }
        }
    };
</script>
