<template>
    <ul>
        <li v-for="todo in todos" :key="todo">
            {{todo.id}} - {{todo.text}} - {{todo.isDone}}
        </li>
    </ul>
</template>

<script>
    export default {
        name: "TodoList",
        props: ["todos"]
    }
</script>