<template>
  <create-todo @saveTodo="addTodo"/>
  <todo-list :todos = "todos"/>
</template>

<script>

import CreateTodo from "./components/CreateTodo";
import TodoList from "./components/TodoList";
import {api} from "./client/todo";
export default {
  name: 'App',
  components: {
    CreateTodo,
    TodoList
  },
  data() {
    return {
      todos: []
    }
  },
  methods: {
    addTodo(todo) {
      this.todos.unshift(todo)
    }
  },
  created() {
    const that = this
    api("http://localhost:8089", {}).getAllTodos().then(res => {
      this.todos.push(...res.data)
    })
  }
};
</script>

